* {
    font-family: 'roboto';
}

.select {


    display: flex;
    flex-direction: column;
    width: 70%;


    &--label {
        font-size: 48px;
    }

    &--dropdown {
        font-size: 22px;
        width: 50%;
    }

    &--option {
        font-size: 22px;
        font-weight: 700;
    }
    &--option:active{
        background: none;
        outline: none;
    }

}