$purple: #bf4ba0;
$yellow : #f2e529 ;
$darkYellow : #f2be22;
$orange : #f28627;
$red : #f22e2e;
$grey: #c6c5c5;
$black:#000;
$white: #fff;
$borderRadius: 6px;


* {
    font-family: 'roboto';
    padding: 0;
    margin: 0;
}

.body {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: $black;
}

.select {

    display: flex;
    flex-direction: column;
    width: 30%;
    height: 350px;
    margin-bottom: 48px;
    margin-top: 25px;
    padding: 32px 8px;
    border: solid $grey 1px;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f28627;


    &--label {
        font-size: 48px;
    }

    &--dropdown {
        font-size: 22px;
        width: 45%;
        height: 100%;
        border-color: $grey;
        background-color: #f2be22;
        border-radius: $borderRadius;
        padding: 16px 12px;
    }
    &--dropdown::-webkit-scrollbar {
        display: none;
    }

    &--option {
        font-size: 22px;
        font-weight: 500;
        margin-top: 2px;
    }
    &--option:checked{
        background: none;
        outline: none;
    }

}

button {
    padding: 12px 16px;
    font-size: 24px;
    margin: 10px;
}

.song-card {
    border: 1px solid black;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
    width: 300px;
}

.songs-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;

    .song {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
    }
}